// COLORS

//theme-colors:
$main-dark-color: #131313;
$main-light-color: #181a1c;

//text-colors:
$txt-gray-color: #949494;

//Breakpoints
$large-desktop: 1920px;
$desktop: 1440px;
$large-tablet: 1130px;
$tablet: 850px;
$small-tablet: 800px;
$large-phone: 650px;
$phone: 500px;
$small-phone: 370px;
